@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";

header {
	height: 100px;
	width: 100%;
	font-family: Helvetica;
	color: #000000;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 700px;
	margin-left: 55px;
	margin-right: 55px;
}

main {
	// ON PEUT CALCULER DES CHOSES EN PURE CSS
	height: calc(100vh - 100px * 2);
	// GRID SETTINGS
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	grid-gap: 1rem;
	font-family: Helvetica;
	color: #000000;
	font-size: 30px;
	margin-left: 55px;
	margin-right: 55px;
}

footer {
	font-family: Helvetica;
	font-size: 30px;
	color: #000000;
	padding-top: 555px;
}

.navbar {
	font-family: Helvetica;
	color: #000000;
	font-size: 55%;
}

p {
	font-family: Helvetica;
	color: #000000;
	font-size: 55%;
}

h1,
h2,
h3 {
	font-family: Helvetica;
	color: #000000;
	font-size: 555pxx;
}