@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";

header {
	height: 100px;
	width: 100%;
	font-family: Helvetica;
	font-style: oblique;
	color: #000000;
	font-size: 100%;
	padding-top: 5px;
	padding-bottom: 700px;
	margin-left: 55px;
	margin-right: 55px;
}

main {
	background: rgba(255, 255, 255);
	// ON PEUT CALCULER DES CHOSES EN PURE CSS
	height: calc(100vh - 100px * 2);
	// GRID SETTINGS
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	grid-gap: 1rem;
}

.image-section {
	padding: 1rem;
}

.image-section img {
	width: 100%;
}

.text-section {
	padding: 1rem;

	.row {}

	footer {
		font-family: Helvetica;
		font-size: 30px;
		color: #ffff;
		text-align: center;
	}

	.navbar {
		font-family: Helvetica;
		color: #000000;
		text-align: center;
	}

	p {
		font-family: Helvetica;
		color: #000000;
		font-size: 85%;
	}

	h1 {
		font-family: Helvetica;
		color: #000000;
		font-size: 900px;
	}

	,
	h2 {
		font-family: Helvetica;
		color: #000000;
		font-size: 55px;
	}

	h3 {
		font-family: Helvetica;
		color: #000000;
		font-size: 5px;
	}

	h4 {
		font-family: Helvetica;
		color: #F8F8FF;
		font-size: 15px;
	}